.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.section--header {
  max-width: 40em;
}

.nav-link {
  float: right;
  font-size: 15px;
  padding: 8px 15px;
  text-decoration: none;
  color: #0b0c0c;
  font-weight: bold;
}

.categories-list {
  list-style: none;
  padding-left: 0;
}

.home-nav {
  margin-bottom: 5px;
}

.home-nav:first-child {
  margin-top: 0;
  margin-bottom: 5px;
}

.home-nav__link {
  font-weight: 700;
}

.heading--xxlarge--my-account {
  margin-bottom: 30px !important;
}

.border-top {
  border-top: .625rem solid #005ea5;
}

.base2-1-3 {
  width: 100%;
}

@media only screen and (max-width: 400px) {
  .section__status_completed,
  .section__status_incomplete {
    float: left;
    clear: left;
    margin-top: 15px;
  }
}

@media only screen and (min-width: 600px) {
  .mainbar {
    float: left;
  }
  .base2-1-3 {
    float: left;
    width: 33.33333%;
    padding-left: 30px;
  }
  .base2-2-3 {
    width: 66.66666%;
    padding-right: 30px;
  }
}

.section {
  max-width: none !important;
}

.section--no-border {
  margin-bottom: 3.75rem;
}

.background-black {
  background-color: black !important;
}

.background-blue {
  padding: 5px;
  background-color: #005ea5;
  font-weight: 800;
  color: white;
}

.container {
  max-width: 960px !important;
}

.breadcrumb {
  background-color: white;
  margin: 0 auto;
  z-index: 50;
}

.breadcrumb__list {
  max-width: 960px;
  margin: 0 10px;
  padding: 0.75em 0;
}

.breadcrumb__list__item {
  background: url('/static/separator.png') 0% 50% no-repeat;
  display: inline-block;
  list-style: none;
  margin-right: 0.5em;
  padding-left: 15px
}

.breadcrumb__list__item:first-child {
  background-image: none;
  padding-left: 0;
}